<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Code paste</title>
    <meta content="Text and code sharing tool" name="description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href={{ asset('assets/images/save.svg') }} type="image/x-icon"/>
    
    {# REDIRECT TO ERROR PAGE IF JAVASCRIPT IS DISABLED #}
    <noscript>
        <meta http-equiv="refresh" content="0; URL='{{ path('error_by_code', {code: '426'}) }}'"/>
    </noscript>

    {# LINK ASSETS #}
    {{ encore_entry_link_tags('loading-css') }}
    {{ encore_entry_link_tags('scrollbar-css') }}
    {{ encore_entry_link_tags('code-paste-css') }}
</head>
<body>
    <div id="loader-wrapper">
        <div id="loader"></div>
    </div>
    <main id="component" style="display:none;">
        {% block body %}{% endblock %}
    </main>
    {{ encore_entry_script_tags('loading-js') }}

    {# VISITOR TRACKING SYSTEM #}
    {% if getEnvValue('VISITOR_TRACKING_ENABLED') == 'true' %}
        <script>
            const visitorReferer = document.referrer || 'Unknown'
            fetch('{{ getEnvValue("VISITOR_TRACKING_URL") }}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    service_name: 'paste.becvar.xyz',
                    referer: visitorReferer
                })
            })
        </script>
    {% endif %}
</body>
</html>
