<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Code paste</title>
    <meta content="Text and code sharing tool" name="description">
    <link rel="icon" href={{ asset('assets/images/favicon.png') }} type="image/x-icon"/>

    {{ encore_entry_link_tags('paste-add-css') }}
    {{ encore_entry_link_tags('scrollbar-css') }}
    {{ encore_entry_link_tags('paste-view-css') }}
    {{ encore_entry_link_tags('atom-one-dark-css') }}
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>
